.back-all {
    background-color: #141414;
}

.bg-image {
    background: url(../img/netflix3.jpg);
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);  
}

.article-images {
    width: 100%;
}

.brand-icon {
    width: 100px;
}

.container-img { 
    flex-wrap: wrap ;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.article-img {
    display: inline;
}

.card {
    background-color: #141414;
    border: none;
    padding: 10px;
}

.card-title .logo {
    height: 3.5vw;
}

.card-body {
    background-color: #141414;
    
}

.card-text {
    color: #fff;
}

.navbar-light {
    font-size: 20px;
    font-weight: bold;
}

.navbar-nav {
    align-items: flex-end;
}

